In [135]:
import numpy as np 
import pandas as pd

In [136]:
# a dataset of arouond 100,000 SDPD police stops over the past couple years
data = pd.read_csv("/Users/akalgi/Desktop/SDPD_Data/ripa_stops_datasd.csv")
sdpd_stops = pd.DataFrame(data)
sdpd_stops

/var/folders/gs/c7bwtk7913lf_wph0ftgh8fm0000gn/T/ipykernel_72352/1043600842.py:2: DtypeWarning: Columns (11,15,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/Users/akalgi/Desktop/SDPD_Data/ripa_stops_datasd.csv")

,UID,ID,ORI,AGENCY,EXPYEARS,STOPDATE,STOPTIME,STOPDURATION,STOPINRESPONSETOCFS,OFFICERASSIGNMENTKEY,...,BEAT,BEATNAME,PID,ISSTUDENT,PERCEIVEDLIMITEDENGLISH,PERCEIVEDAGE,PERCEIVEDGENDER,GENDERNONCONFORMING,PERCEIVEDLGBT,INSERTDATETIME
0,1c,1,CA0371100,sdpd,18,2023-11-20,13:27:00,15,0,10,...,551,NaN,1,0,0,99,Cisgender Man/Boy,0.0,False,2024-06-25 11:10:14.073
1,2c,2,CA0371100,sdpd,18,2023-11-20,14:03:00,25,0,10,...,551,NaN,1,0,0,30,Cisgender Woman/Girl,0.0,False,2024-06-25 11:10:14.073
2,3c,3,CA0371100,sdpd,18,2023-11-21,09:32:00,15,0,10,...,551,NaN,1,0,0,30,Cisgender Woman/Girl,0.0,False,2024-06-25 11:10:14.073
3,4c,4,CA0371100,sdpd,18,2023-11-21,09:50:00,25,0,10,...,555,NaN,1,0,0,25,Cisgender Man/Boy,0.0,False,2024-06-25 11:10:14.073
4,5c,5,CA0371100,sdpd,18,2023-11-21,10:02:00,15,0,10,...,551,NaN,1,0,0,45,Transgender Woman/Girl,0.0,False,2024-06-25 11:10:14.073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103504,8788c,8788,CA0371100,SDPD,5,2024-01-06,19:18:00,7,0,1,...,446,446 Lincoln Park (Southeastern),1,0,0,18,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117
103505,8789c,8789,CA0371100,SDPD,1,2024-01-06,21:23:00,86,1,1,...,933,933 Del Mar Heights (Northwestern),1,0,0,30,NaN,NaN,NaN,2024-11-01 10:47:20.117
103506,8790c,8790,CA0371100,SDPD,5,2024-01-06,20:13:00,21,0,1,...,512,512 Logan Heights (Central),1,0,0,30,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117
103507,8790c,8790,CA0371100,SDPD,5,2024-01-06,20:13:00,21,0,1,...,512,512 Logan Heights (Central),2,0,0,30,Cisgender Woman/Girl,NaN,NaN,2024-11-01 10:47:20.117
103508,8791c,8791,CA0371100,SDPD,5,2024-01-06,20:45:00,11,0,1,...,446,446 Lincoln Park (Southeastern),1,0,0,17,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117

In [137]:
# drops every unknown address - only about 100 rows, so no significant impact to our data
sdpd_stops = sdpd_stops.dropna(subset="BEATNAME")
sdpd_stops

,UID,ID,ORI,AGENCY,EXPYEARS,STOPDATE,STOPTIME,STOPDURATION,STOPINRESPONSETOCFS,OFFICERASSIGNMENTKEY,...,BEAT,BEATNAME,PID,ISSTUDENT,PERCEIVEDLIMITEDENGLISH,PERCEIVEDAGE,PERCEIVEDGENDER,GENDERNONCONFORMING,PERCEIVEDLGBT,INSERTDATETIME
5,6c,6,CA0371100,sdpd,18,2023-11-21,10:10:00,15,0,10,...,826,826 Colina Del Sol (Mid-City),1,0,0,50,Cisgender Man/Boy,0.0,False,2024-06-25 11:10:14.073
9,10c,10,CA0371100,sdpd,18,2023-11-21,10:29:00,25,0,10,...,622,622 Morena (Western),1,0,0,34,Cisgender Woman/Girl,0.0,False,2024-06-25 11:10:14.073
13,14c,14,CA0371100,SDPD,4,2023-11-30,23:50:00,60,0,1,...,315,315 Mission Valley East (Eastern),1,0,0,20,Male,0.0,False,2024-06-25 11:11:28.147
14,15c,15,CA0371100,SDPD,1,2023-12-31,03:50:00,20,0,1,...,723,723 Otay Mesa West (Southern),1,0,0,23,Male,0.0,False,2024-06-25 11:11:28.147
15,16c,16,CA0371100,SDPD,21,2023-12-31,06:40:00,5,0,1,...,321,321 Grantville (Eastern),1,0,0,40,Male,0.0,False,2024-06-25 11:11:28.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103504,8788c,8788,CA0371100,SDPD,5,2024-01-06,19:18:00,7,0,1,...,446,446 Lincoln Park (Southeastern),1,0,0,18,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117
103505,8789c,8789,CA0371100,SDPD,1,2024-01-06,21:23:00,86,1,1,...,933,933 Del Mar Heights (Northwestern),1,0,0,30,NaN,NaN,NaN,2024-11-01 10:47:20.117
103506,8790c,8790,CA0371100,SDPD,5,2024-01-06,20:13:00,21,0,1,...,512,512 Logan Heights (Central),1,0,0,30,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117
103507,8790c,8790,CA0371100,SDPD,5,2024-01-06,20:13:00,21,0,1,...,512,512 Logan Heights (Central),2,0,0,30,Cisgender Woman/Girl,NaN,NaN,2024-11-01 10:47:20.117
103508,8791c,8791,CA0371100,SDPD,5,2024-01-06,20:45:00,11,0,1,...,446,446 Lincoln Park (Southeastern),1,0,0,17,Cisgender Man/Boy,NaN,NaN,2024-11-01 10:47:20.117

In [138]:
# removes the parenthesis part of each address so we can plot them all later on
def remove_parenthesis(address):
    start_index = address.find("(")
    if start_index == -1:
        return address
    return address[:start_index].strip()

In [139]:
# apply the function and keep just the addresses and UID which we will use to merge later
sdpd_addresses = sdpd_stops["BEATNAME"].apply(remove_parenthesis)
sdpd_addresses = pd.DataFrame(sdpd_addresses)
sdpd_addresses["UID"] = sdpd_stops["UID"]
sdpd_addresses

                       BEATNAME    UID
5            826 Colina Del Sol     6c
9                    622 Morena    10c
13      315 Mission Valley East    14c
14           723 Otay Mesa West    15c
15               321 Grantville    16c
...                         ...    ...
103504         446 Lincoln Park  8788c
103505      933 Del Mar Heights  8789c
103506        512 Logan Heights  8790c
103507        512 Logan Heights  8790c
103508         446 Lincoln Park  8791c

[103443 rows x 2 columns]

In [140]:
# save the dataframe with just addresses of each stop
# this provides us with a method to visually plot all the addresses on a map
sdpd_addresses.to_csv("/Users/akalgi/Desktop/SDPD_Data/sdpd_addresses.csv")

In [141]:
# now, lets focus on the overall regions of san diego
def keep_parenthesis(address):
    start_index = address.find("(")
    end_index = address.find(")", start_index)
    if start_index != -1 and end_index != -1:
        return address[start_index:end_index + 1].strip("(").strip(")").strip()
    return ''

In [142]:
sdpd_regions = sdpd_stops["BEATNAME"].apply(keep_parenthesis)
sdpd_regions = pd.DataFrame(sdpd_regions)
sdpd_regions["UID"] = sdpd_stops["UID"]
sdpd_regions

            BEATNAME    UID
5           Mid-City     6c
9            Western    10c
13           Eastern    14c
14          Southern    15c
15           Eastern    16c
...              ...    ...
103504  Southeastern  8788c
103505  Northwestern  8789c
103506       Central  8790c
103507       Central  8790c
103508  Southeastern  8791c

[103443 rows x 2 columns]

In [143]:
# this shows us the unique regions in san diego - there are 8 of them
sdpd_regions = sdpd_regions[sdpd_regions.get("BEATNAME") != "Unknown"]
sdpd_regions = sdpd_regions[sdpd_regions.get("BEATNAME") != "Test"]
sdpd_regions.get("BEATNAME").unique()

array(['Mid-City', 'Western', 'Eastern', 'Southern', 'Northern',
       'Northeastern', 'Southeastern', 'Central', 'Northwestern'],
      dtype=object)

In [144]:
# save the dataframe with regions of each stop
sdpd_regions.to_csv("/Users/akalgi/Desktop/SDPD_Data/sdpd_regions.csv")

In [145]:
# now that we have the data for the location of each stop, we want to have the reason of each stop
reason_for_stop_data = pd.read_csv("/Users/akalgi/Desktop/SDPD_Data/ripa_stop_reason_datasd.csv")
sdpd_reason = pd.DataFrame(reason_for_stop_data)
sdpd_reason

,UID,ID,PID,REASONFORSTOP,REASONFORSTOPCODE,REASONFORSTOPCODETEXT,REASONFORSTOPDETAIL,REASONFORSTOPEXPLANATION,INSERTDATETIME
0,1c,1,1,Traffic Violation,3.0,00IN CUSTODY ARR ZZ - IN CUSTODY ARREST (X) 3,Moving Violation,Test Case 1,2024-06-25 11:10:14.073
1,2c,2,1,Reasonable Suspicion,3.0,00IN CUSTODY ARR ZZ - IN CUSTODY ARREST (X) 3,Officer witnessed commission of a crime,Test Case 3,2024-06-25 11:10:14.073
2,3c,3,1,Reasonable Suspicion,62139.0,1052(F) FG - ALTER/MUTILATE/ETC LICENS (M) 62139,Officer witnessed commission of a crime,Test Case 3A,2024-06-25 11:10:14.073
3,4c,4,1,Probable cause to arrest or search,58028.0,1001.5(A) WI - POSS/ETC C/SUB/ETC:CYA (M) 58028,Matched suspect description,Test Case 4,2024-06-25 11:10:14.073
4,4c,4,1,Probable cause to arrest or search,58028.0,1001.5(A) WI - POSS/ETC C/SUB/ETC:CYA (M) 58028,Officer witnessed commission of a crime,Test Case 4,2024-06-25 11:10:14.073
...,...,...,...,...,...,...,...,...,...
108087,8789c,8789,1,Reasonable Suspicion,29110.0,594(A)(1) PC - VANDALISM:DEFACE PROPERTY (M) 2...,Matched suspect description,subject throwing items,2024-11-01 10:47:20.117
108088,8789c,8789,1,Reasonable Suspicion,29110.0,594(A)(1) PC - VANDALISM:DEFACE PROPERTY (M) 2...,Other reasonable suspicion or probable cause t...,subject throwing items,2024-11-01 10:47:20.117
108089,8790c,8790,1,Consensual Encounter resulting in a search,NaN,NaN,NaN,open container of marijuana and driver was on ...,2024-11-01 10:47:20.117
108090,8790c,8790,2,Consensual Encounter resulting in a search,NaN,NaN,NaN,4th waiver,2024-11-01 10:47:20.117
108091,8791c,8791,1,Traffic Violation,54791.0,5201.1(C) VC - ALTER/ETC LIC PLT REFLEC (I) 54791,Equipment Violation,traffic stop,2024-11-01 10:47:20.117

In [146]:
# note that there are 8 unique reasons for stop
sdpd_reason.get("REASONFORSTOP").unique()

array(['Traffic Violation', 'Reasonable Suspicion',
       'Probable cause to arrest or search',
       'Knowledge of outstanding arrest warrant/wanted person',
       'Known to be on Parole / Probation / PRCS / Mandatory Supervision',
       'Investigation to determine whether the person was truant',
       'Consensual Encounter resulting in a search',
       'Probable cause to take into custody under Welfare and Institutions Code section 5150'],
      dtype=object)

In [160]:
# using the reason for stop database, we'll keep the reason for stop as well as the unique identifier
sdpd_reason = sdpd_reason.get(["UID", "REASONFORSTOP"]).drop_duplicates(subset = "UID", keep = "first")
sdpd_reason

          UID                                      REASONFORSTOP
0          1c                                  Traffic Violation
1          2c                               Reasonable Suspicion
2          3c                               Reasonable Suspicion
3          4c                 Probable cause to arrest or search
5          5c                                  Traffic Violation
...       ...                                                ...
97970  85547c                                  Traffic Violation
97971  85548c                                  Traffic Violation
97972  85549c  Known to be on Parole / Probation / PRCS / Man...
97973  85550c                                  Traffic Violation
97974  85551c                                  Traffic Violation

[85551 rows x 2 columns]

In [161]:
# do the same process with sdpd addresses and regions, keeping unique UIDs
sdpd_addresses = sdpd_addresses.drop_duplicates(subset = "UID", keep = "first")
sdpd_regions = sdpd_regions.drop_duplicates(subset = "UID", keep = "first")

In [162]:
# now merge reason for stop and addresses/regions based on UID
merged_address = sdpd_addresses.merge(sdpd_reason, left_on = "UID", right_on = "UID")
merged_region = sdpd_regions.merge(sdpd_reason, left_on = "UID", right_on = "UID")

In [163]:
merged_region

       BEATNAME     UID                                      REASONFORSTOP
0      Mid-City      6c                                  Traffic Violation
1       Western     10c                                  Traffic Violation
2       Eastern     14c                               Reasonable Suspicion
3      Southern     15c                                  Traffic Violation
4       Eastern     16c                                  Traffic Violation
...         ...     ...                                                ...
80768  Southern  85547c                                  Traffic Violation
80769  Mid-City  85548c                                  Traffic Violation
80770  Mid-City  85549c  Known to be on Parole / Probation / PRCS / Man...
80771   Eastern  85550c                                  Traffic Violation
80772  Southern  85551c                                  Traffic Violation

[80773 rows x 3 columns]

In [164]:
# can stop at the above step, but we don't need UID anymore
merged_address = merged_address.drop(columns = "UID")
merged_region = merged_region.drop(columns = "UID")

In [166]:
# final product
merged_address

,BEATNAME,REASONFORSTOP
0,826 Colina Del Sol,Traffic Violation
1,622 Morena,Traffic Violation
2,315 Mission Valley East,Reasonable Suspicion
3,723 Otay Mesa West,Traffic Violation
4,321 Grantville,Traffic Violation
...,...,...
85499,723 Otay Mesa West,Traffic Violation
85500,813 North Park,Traffic Violation
85501,821 Rolando,Known to be on Parole / Probation / PRCS / Man...
85502,315 Mission Valley East,Traffic Violation
85503,723 Otay Mesa West,Traffic Violation

In [167]:
# final product
merged_region

       BEATNAME                                      REASONFORSTOP
0      Mid-City                                  Traffic Violation
1       Western                                  Traffic Violation
2       Eastern                               Reasonable Suspicion
3      Southern                                  Traffic Violation
4       Eastern                                  Traffic Violation
...         ...                                                ...
80768  Southern                                  Traffic Violation
80769  Mid-City                                  Traffic Violation
80770  Mid-City  Known to be on Parole / Probation / PRCS / Man...
80771   Eastern                                  Traffic Violation
80772  Southern                                  Traffic Violation

[80773 rows x 2 columns]